body { font: 69% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; background-color: white; color: black; margin: 0; padding: 0; }
a { color: #436976; }
img { border: None; }
#portalTop { margin: 0; padding: 0; background: transparent; }
#portalPersonaltools { background-color: #dee7ec; border-top: solid #8cacbb 1px; border-bottom: solid #8cacbb 1px; line-height: 1.6em; padding: 0 3em 0 3em; margin: 0; text-align: right; list-style-type: none; list-style-image: none; list-style-position: outside; }

#toolLine { border-bottom: solid #8cacbb 1px; padding-left: 2em; padding-right: 2em; line-height: 1.6em; }
#toolLine a { text-decoration: none; }
#portalBreadcrumbs { display: inline; }
#languageTools { display: inline; float: right; }
#languageTools ul { display: inline; }
#languageTools ul li { display: inline; padding-right: 0.75em; }
#languageTools a { color: #96E2EC }
#languageTools li { color: #96E2EC }
#languageTools li.effective { font-weight: bold; color: #436976 }
#languageTools li.available a { color: #436976 }
#languageTools li.effective a { color: #436976 }
#languageTools li.preferred a { text-decoration: underline; }
#languageTools .showable { margin: 0; padding: 0; width: 30em; z-index: 3; background-color: white; position: absolute; right: -1px; border: 1px #8cacbb solid; border-top: none; visibility: hidden; }

#leftColumn { vertical-align: top; padding: 2em 0 1em 2em; }
#rightColumn { vertical-align: top; padding: 2em 2em 1em 0; }
#mainColumn { vertical-align: top; border-collapse: collapse; padding: 1em 1em 0 1em; margin: 0 0 2em 0; width: 100%; }
#portalFooter { background-color: #dee7ec; border-top: solid #8cacbb 1px; border-bottom: solid #8cacbb 1px; line-height: 1.2em; margin: 2em 0 1em 0; padding: 0.5em 0 1em 0; text-align: center; }
#portalColophon ul { text-align: center; list-style-image: none; list-style-type: none; }
#portalColophon ul li { display: inline; font-size: 90%; padding: 0 0.75em 0 0.75em; }
#mainColumn h1,h2,h3,h4,h5,h6 { margin: 0.75em 0 0.25em 0; clear: left; }
#mainColumn h1,h2 { font-weight: normal; }
#mainColumn h1 { font-size: 150%; border-bottom: solid #8cacbb 1px; }
#mainColumn h1.title { font-size: 160%; margin-top: 0; }
#mainColumn h2 { font-size: 125%; font-weight: bold; }
#mainColumn p.authorAndDate { font-size: 90%; font-weight: normal; margin-bottom: 0.5em; margin-top: 0; color: #76797c; }
#mainColumn .objectDescription { font-weight: bold; margin: 0 0 0.5em 0; line-height: 1.5em; }

p.message { background-color: #FFFFE3; border: 1px solid #999966; font-size: 90%; line-height: 1.25em; margin: 0; padding: 0.5em; }
.mainContent { padding: 1em 1em 2em 1em; font-size: 110%; }
.mainContent.withButtons { border: solid #74ae0b 1px; }
.mainContent p { line-height: 1.5em; margin: 0 0 0.75em; }
.mainContent p.author { color: #76797C; font-size: 90%; margin-bottom: 0.5em; }
.mainContent ol { line-height: 1.5em; margin: 0.5em 0 0 2.5em; padding: 0; }
.mainContent ul { line-height: 1.5em; list-style-image: url("bullet.gif"); list-style-type: square; margin: 0.5em 0 0 1.5em; padding: 0; }
.mainContent li { margin-bottom: 0.5em; }
.mainContent table tr { vertical-align: top; }
.mainContent table.listing { border: 1px solid #8CACBB; border-collapse: collapse; font-size: 90%; margin: 1em 0; }
.mainContent table.listing th { background:none repeat scroll 0 0 #DEE7EC; border-bottom:1px solid #8CACBB; border-right:1px solid #8CACBB; border-top:1px solid #8CACBB; font-weight:normal; padding:0.25em 0.5em; text-transform:none; }
.mainContent table.listing td { border:1px solid #8CACBB; padding:0.25em 0.5em; }
.mainContent table.listing a { text-decoration:none; }
.mainContent table.listing a:hover { text-decoration:underline; }
.mainContent table.listing img { vertical-align:middle; }
.mainContent table.listing td a label { cursor:pointer; }

.primaryButtons { background-color: transparent; padding-left: 1em; line-height: normal; margin: 0; list-style: none; border: 1px solid #74ae0b; border-top-width: 0px; border-left-width: 0px; border-right-width: 0px; }
.primaryButtons li { display: inline; padding-top: 0.5em; }
.primaryButtons li a { background-color: transparent; border: 1px solid #74ae0b; border-style: solid; color: #578308; height: auto; margin-right: 0.5em; padding: 0em 1em; line-height: normal; text-decoration: none; text-transform: none; z-index: 1; }
.primaryButtons .selected a { background-color: #cde2a7; border-bottom: #cde2a7 1px solid; color: #578308; }
.primaryButtons li a:hover { background-color: #cde2a7; color: #578308; }

ul.secondaryButtons { background-color: #cde2a7; border-left: 1px solid #74ae0b; border-right: 1px solid #74ae0b; color: #578308; text-align: right; padding: 0 0.5em 0 0.5em; z-index: 2; position:relative; height: 1.6em; margin: 0; }
ul.secondaryButtons > li { list-style: none; text-align: left; line-height: 1.6em; margin: 0; float: right; z-index: 4; }
ul.secondaryButtons a { text-decoration: none; color: #578308; padding: 0 0.5em; cursor: pointer; white-space: nowrap; }
ul.secondaryButtons >li>dl { position: relative; }
ul.secondaryButtons >li>dl>dt, ul.secondaryButtons >li>p  { margin: 0; padding: 0; border-left: 1px solid #74ae0b; }
ul.secondaryButtons > li > dl > dd { margin: 0; padding: 0; position: absolute; right: -1px; background-color: #cde2a7; border: 1px #74ae0b solid; border-top: none; visibility: hidden; }
ul.secondaryButtons > li > dl > dd > ul { display: block; margin: 0; padding: 0; list-style-type: none; }

.statePrivate { color: red; }
.editObject tr { vertical-align: top; }
.editObject th { text-align: left; }
.editObject label { font-weight: bold; }
ul.errorlist { color: red; font-weight: bold; list-style-type: none; margin-left: 0; padding-left: 0; }

.portlet { margin: 1px 0 1em 0; border-bottom: solid #8cacbb 1px; width: 15em; }
.portlet dt { background-color: #dee7ec; border: solid #8cacbb 1px; padding: 0 1em 0 1em; line-height: 1.6em; }
.portlet dd { margin: 0 0 0 0; padding: 1em 1em 1em 1em; border-left: solid #8cacbb 1px; border-right: solid #8cacbb 1px; }
.portlet dd.even { background-color: #eef3f5; }
.portlet dd .details { display: block; text-align: right; }
.portlet a { text-decoration: none; }

.navigationPortlet li { display: block; list-style: none; padding: 0 0 0 1px; margin: 0 0 2px -1px; }
.navigationPortlet li a { border: solid white 1px; display: block; padding-top: 0.2em; padding-bottom: 0.25em; }
.navigationPortlet li a:hover { background-color: #dee7ec; color: #436976; border: solid #8cacbb 1px; }
.navigationPortlet ul { padding: 0; }
.navigationLevel1 { margin: 0; }
.navigationLevel2 { margin-left: 1em; }
.navigationLevel3 { margin-left: 2em; }
.navigationLevel4 { margin-left: 3em; }
.navigationLevel5 { margin-left: 3em; }
.navigationLevel6 { margin-left: 3em; }
.navigationLevel7 { margin-left: 3em; }
.navigationLevel8 { margin-left: 3em; }
.navigationPortlet a.current { background-color: #dee7ec; border: solid #8cacbb 1px; }

.floatLeft { float: left; margin: 5px; }
.floatRight { float: right; margin: 5px; }
.alignTop { vertical-align: top; }

pre { background-color: #DEE7EC; border:1px solid #8CACBB; color:Black; font-family:Monaco,"Courier New",Courier,monospace; font-size:100%; overflow:auto; padding:1em; }
.discreet { color:#76797C; font-size:90%; font-weight:normal; }
dl.pageIndex dt { font-weight: bold; }
dl.pageIndex dd { line-height: 1.5em; }
code, tt { background-color: #DEE7EC; color: black; font-family: Monaco,"Courier New",Courier,monospace; font-size:120%; padding-left: 0.1em; padding-right: 0.1em; }

div.pageComment { background: #EEF3F5; border: 1px solid #8CACBB; margin-bottom: 1em; padding: 0.25em 1em 0.5em; }
div.pageComment p.authorLine { border-bottom: 1px solid #76797C; font-size: 125%; margin: 0.75em 0 0.25em; }
div.pageComment span.author { font-weight: bold; }
div.pageComment span.author a { text-decoration: None; }
div.pageComment p.date { color: #76797C; font-size: 90%; margin-bottom: 0.5em; }
div.pageComment p.notice { color: #76797C; font-size: 90%; margin-bottom: 0.5em; }
div.pageComment.DELETED { background: #EEEEEE; }
div.pageComment.MODERATED { border: 2px solid red; }
div.addComment { background: #EEF3F5; border: 1px solid #8CACBB; margin-bottom: 1em; padding: 0.25em 1em 0.5em; }
div.addComment p.heading { border-bottom: 1px solid #76797C; font-size: 125%; margin: 0.75em 0 0.25em; }
div.addComment p.notice { color: #76797C; font-size: 90%; margin-bottom: 0.5em; }
div.addComment input[type=submit] { background: #DEE7EC; border: 1px solid #8CACBB; font-size: 90%; padding: 1px 1px 1px 1px;}
div.addComment th { text-align: left; }

div.blogIndex div.blogPost { background: #EEF3F5; border: 1px solid #8CACBB; margin-bottom: 1em; padding: 0.25em 1em 0.5em; }
div.blogIndex div.blogPost p.title { border-bottom: 1px solid #76797C; font-size: 125%; margin: 0.75em 0 0.25em; }
div.blogIndex div.blogPost p.author { color: #76797C; font-size: 90%; margin-bottom: 0.5em; }
