{% load i18n %}
<div class="addComment">
  <p class="heading">{% trans "Add comment" %}</p>
  <p class="notice">{% trans "Your email address will not be published" %}</p>
  <form method="POST" action="{{ vobject.entry.spath }}">
    <table>
      {{ form.as_table }}
      <tr><th></th><td>
        {% blocktrans %}
           Separate paragraphs with blank line; URLs will be automatically
           converted to links; use **bold**, *italics*; indent paragraphs for
           block quoting; other
           <a href="http://docutils.sourceforge.net/docs/user/rst/quickstart.html">reStructuredText</a>
           markup is also possible.
        {% endblocktrans %}
      </td></tr>
      <tr><th></th><td><input type="submit"
                                value='{% trans "Add comment" %}' /></td></tr>
    </table>
  </form>
</div>
