{% load i18n %}
<div class="pageComment {{ comment.state }}">
  <p class="authorLine">
    {% blocktrans with comment.linked_commenter_name as lcn and comment.visible_commenter_email as vce %}
      <span class="author">{{ lcn }}</span> {{ vce }} says:
    {% endblocktrans %}
  </p>
  <p class="date">{{ comment.date|date:'Y-m-d H:i' }}</p>
  <p class="comment">{{ comment.comment|safe }}</p>
  {% if perm_edit %}
    <p class="notice">
      {% blocktrans with comment.state_name as state_name %}
        This comment is {{ state_name }}.
      {% endblocktrans %}
    </p>
    {% if comment.state == "DELETED" %}
      <form method="post" action="{{ request.spath }}">
        {% csrf_token %}
        <input type="hidden" name="action" value="zpagecomments.undelete_comment">
        <input type="hidden" name="comment_id" value="{{ comment.id }}">
        <input type="submit" value='{% trans "Undelete" %}'>
      </form>
    {% endif %}
    {% if comment.state == "PUBLISHED" or comment.state == "UNAPPROVED" %}
      <form method="post" action="{{ request.spath }}">
        {% csrf_token %}
        <input type="hidden" name="action" value="zpagecomments.edit_comment">
        <input type="hidden" name="comment_id" value="{{ comment.id }}">
        <input type="submit" value='{% trans "Edit" %}'>
      </form>
    {% endif %}
    {% if comment.state == "PUBLISHED" %}
      <form method="post" action="{{ request.spath }}">
        {% csrf_token %}
        <input type="hidden" name="action" value="zpagecomments.unapprove_comment">
        <input type="hidden" name="comment_id" value="{{ comment.id }}">
        <input type="submit" value='{% trans "Unapprove" %}'>
      </form>
    {% endif %}
    {% if comment.state == "UNAPPROVED" %}
      <form method="post" action="{{ request.spath }}">
        {% csrf_token %}
        <input type="hidden" name="action" value="zpagecomments.approve_comment">
        <input type="hidden" name="comment_id" value="{{ comment.id }}">
        <input type="submit" value='{% trans "Approve" %}'>
      </form>
    {% endif %}
  {% endif %}
</div>
