{% load standard_applets %}
{% load i18n %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  {% block htmlhead %}
    <title>
      {% block htmltitle %}
        {{ vobject.metatags.default.title }}
      {% endblock %}
    </title>
    {% block css %}
      <link rel="stylesheet" type="text/css" href="{{ZADIG_MEDIA_URL}}style.css"
          title="style" />
    {% endblock %}
    {% block favicon %}
      <link rel="shortcut icon" href="/__static__/zadig-icon.ico" />
    {% endblock %}
    {% block js %}
      <script src="{{ZADIG_MEDIA_URL}}utils.js"></script>
      <script src="{{ZADIG_MEDIA_URL}}zadig.js"></script>
    {% endblock %}
    {% block extrahead %}{% endblock %}
  {% endblock %}
</head>

<body>
  <div id="portalTop">
    {% block top %}
      {% block logo %}
        <img style="padding: 5px 5px 5px 20px;" src="/__static__/zadig-icon.png" />
      {% endblock %}
      <div id="portalPersonaltools">
        {% block personaltools %}
          {% login %}
        {% endblock %}
      </div>
      <div id="toolLine">
        {% block toolline %}
          <div id="portalBreadcrumbs">
            {% trans "You are here: " %}{% breadcrumbs %}
          </div>
          <div id="languageTools">
            {% language_tools %}
          </div>
        {% endblock %}
      </div>
    {% endblock %}
  </div>
  <table id="portalColumns">
    <tbody>
    <tr>
      <td id="leftColumn">
        {% block leftpane %}
          {% navigation %}
        {% endblock %}
      </td>
      <td id="mainColumn">
        {% block buttons %}
          {% primary_buttons %}
          {% secondary_buttons %} 
        {% endblock %}
        <div class="mainContent {% if vobject.rentry.touchable %}withButtons{% endif %}">
          {% block message %}
            {% if vobject.request.message %}
              <p class="message">{{ vobject.request.message }}</p>
            {% endif %}
          {% endblock %}
          {% block mainContent %}
          {% endblock %}
        </div>
      </td>
      <td id="rightColumn">
        {% block rightpane %}
        {% endblock %}
      </td>
    </tr>
    </tbody>
  </table>
  <div id="portalBottom">
    {% block bottom %}
      <div id="portalFooter">
        {% block footer %}
        {% endblock %}
      </div>
      <div id="portalColophon">
        {% block colophon %}
          <ul>
            <li>Powered by
            <a href="http://itia.ntua.gr/zadig/">Zadig</a></li>
          </ul>
        {% endblock %}
      </div>
    {% endblock %}
  </div>
</body>
</html>
