{% extends vobject.entry.base_template %}

{% block buttons %}
{% endblock %}

{% block mainContent %}
  <h1>Delete</h1>
  <form class="confirmDelete" action="" method="POST">
  <p>You are about to delete this object. This will delete the object, its
  history, any objects it contains, their history, and so on. In short, it will
  delete everything in this object and underneath it, and the operation cannot
  be undone.</p>
  <input type="submit" name="confirm" value="OK" />
  <input type="submit" name="no" value="Cancel" />
  </form>
{% endblock %}
