{% extends vobject.entry.base_template %}
{% load i18n %}

{% block mainContent %}
  <h1>Edit {{vobject.entry.name}}</h1>
  <form class="editObject" enctype="multipart/form-data" action="" method="POST">
  <table>
    <tr><td colspan="2">{{ mainform.non_field_errors }}</td></tr>
    <tr>
      <td>{{ mainform.name.errors }}
           <label for="id_name">{% trans "Name:" %}</label>
           {{mainform.name}}
      </td>
      <td>{{ mainform.language.errors }}
           <label for="id_language">{% trans "Language:" %}</label>
           {{mainform.language}}
      </td>
      <td>{{ mainform.altlang.errors }}
           <label for="id_altlang">{% trans "Alternative:" %}</label>
           {{mainform.altlang}}
      </td>
    </tr>
  </table>
  <table>
    {{ metatagsformset.as_wide_table }}
  </table>
  {{ subform.non_field_errors }} <table>{{subform.render|safe}}</table>
  {% for f in optionsforms %}
    {{f.non_field_errors}}<table>{{f.as_table}}</table>
  {% endfor %}
  <input type="submit" value="Submit" />
  </form>
{% endblock %}
