{% extends "base.html" %}

{% block mainContent %}
<div class="mainContent {% if primary_buttons %}withButtons{% endif %}">
  <h1>Edit {{vobject.entry.name}}</h1>
  <form class="editObject" enctype="multipart/form-data" action="" method="POST">
  <table>
  {{forms.main.as_table}}
  {% for f in forms.metatags %}
    {{f.as_table}}
  {% endfor %}
  {{forms.subtype.as_table}}
  {% for f in forms.options %}
    {{f.as_table}}
  {% endfor %}
  </table>
  <input type="submit" value="Submit" />
  </form>
</div>
{% endblock %}
