{% extends vobject.entry.base_template %}
{% load i18n %}

{% block mainContent %}
  <h1>Contents of {{vobject.metatags.default.get_short_title}}</h1>
  <form method="POST" action="">
    {{ formset.management_form }}
    <table class="objectContents">
      <thead><tr>
          <th></th>
          <th></th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Type" %}</th>
          <th></th>
      </tr></thead>
      <tbody>
        {% for s,f in subentries_with_formset %}
          <tr><td>{{ s.seq }}</td>
              <td>{{ f.select_object }}</td>
              <td><a href="{{s.spath}}__view__/">{{s.name}}</a></td>
              <td>{{s.descendant.typename}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" name="cut" value="Cut selected objects" />
    <table><tbody>{{ move_item_form.as_table }}</tbody></table>
    <input type="submit" name="move" value="Move"/>
  </form>
{% endblock %}
