<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="author" content="Tezeuz" />
   	<link rel="stylesheet" type="text/css" href="style.css" title="style" />

    <title>&#187;&#187;Calypso</title>
  
    </head>

<body>
	
	<div class="search">
				<form action="#" method="post">
				<div id="texbox">Search
				<input type="text" name="search" class="searchbox" />
				</div>
			  </form>
	</div>
	
	<div class="supBar">
			<h1>Calyps<span class="blue">o Co</span>mpany <span class="gray">| Semantic Web</span></h1>
	</div>
	
	<div class="menu">
		  <a href="index.html"> <span class="orange">&#187;</span>Company</a> |
		  <a href="index.html"> <span class="orange">&#187;</span>Products</a> |
		  <a href="index.html"> <span class="orange">&#187;</span>Services</a> |
		  <a href="index.html"> <span class="orange">&#187;</span>Partners</a> |
		  <a href="index.html"> <span class="orange">&#187;</span>Clients</a> |
		  <a href="index.html"> <span class="orange">&#187;</span>Contact</a>
	</div>

<div class="newsContainer">
	
	<div class="news1">
		
		<h3><a href="index.html">Calypso News</a></h3>
	  		
			<p>05/Sep/2004<a href="index.html"> Calypso submitting</a><br/>
				03/Sep/2004<a href="index.html"> Calypso's birth</a><br/>
				02/Sep/2004 <a href="index.html">Calypso Company</a>
			</p>
			
		<h3><a href="index.html">Related Links</a></h3>
			
			<ul>
				<li><a href="http://www.semanticweb.org/">&#187;Semantic Web</a></li>
				<li><a href="http://www.iw3c2.org/">&#187;IW<sup>3</sup>C<sup>2</sup></a></li>
				<li><a href="index.html">&#187;</a><a href="http://www.cwr.cl/">Center for Web Research</a></li>
			</ul>
			
	</div><!-- End news1-->
	
	<div class="news2">
	
		<h3><a href="index.html">The Semantic Web</a></h3>
			<p>A new form of Web content that is meaningful to computers will unleash a revolution of new possibilities</p>
			<p>The Semantic Web will bring structure to the meaningful content of Web pages, creating an environment where software agents roaming from... </p>
			<p><a href="index.html">&#187;&#187;Read more</a></p>
			
	</div><!-- End news2-->

</div><!-- End newsContainer-->
	
<div class="mainContainer">

	<div class="rightInfo">
		
		<h2>Semantic Web</h2>
			<p>The Semantic Web is an extension of the current web in which information is given well-defined meaning, better enabling computers and people to work in cooperation." Tim Berners-Lee, James Hendler, Ora Lassila, <a 
			href="index.html">The Semantic Web</a>, Scientific American, May 2001.</p>
			<p><a href="index.html">&#187;&#187;Read more</a></p>
		
		<h2>The amount of information</h2>
			<p>The amount of information available both in print and electronic format has grown exponentially over the last decade. With the widespread popularity of online marketing in this new Internet economy, more and more company information is becoming available.</p>
			<p><a href="index.html">&#187;&#187;Read more</a></p>
  	
	</div><!-- End rightInfo-->
	
	<div class="mainInfo">
		
		<h2>About Calypso </h2>
		
			<div class="image">
				<h3>Image</h3>
			</div><!-- End image-->
			
				<p>This site is called <a href="index.html">Calypso</a> because it was supposed to be its base color, however, after a couple of tests, I changed it to its actual colors, but as I liked how it sounded I kept just the name. </p>
				<p>The design has three central columns in which the information can be shown.  The interesting feature about this site is that it doesn’t use any tables. 
	  			Organized and adequately formatted "DIV" tags are very useful!<br/>
	  			It won’t be too hard to add this theme to a dynamic content site. </p>
				<p>The design was tested out in <a href="index.html">I.E 6.0</a>, <a href="index.html">Firefox 0,93</a>, and must have similar behavior in other browsers. </p>
				<p><a href="index.html">&#187;&#187;Read more</a></p>
	
	</div><!-- End mainInfo-->
	
	<div class="mainInfo">
	
		<h3><a href="index.html"> About Me</a></h3>
		
			<div class="image">
				<h3>Image</h3>
			</div><!-- End image-->
			
		    	<p>My real name is Oscar Reyes and I am very keen on designing. I hope Calypso could be used as it is or as an idea for you to create your own site. I am thinking about incorporating some new CSS formats and some upgrades that might eventually come up. I’ll submit the results to <a href="http://www.oswd.org">OSWD</a>. </p>
		    	<p>If you have the chance, I would like you to sign my <a href="http://alumnos.elo.utfsm.cl/%7Eosrehe">visit book</a>.</p>
		    	<p><a href="index.html">&#187;&#187;Read more</a></p>
	
	</div><!-- End mainInfo-->
		
</div> <!-- End mainContainer-->

<div class="subContainer">

	<div class="subLinks">
		<a href="index.html"> Company</a> |
		<a href="index.html"> Products</a> |
		<a href="index.html"> Services</a> |
		<a href="index.html"> Partners</a> |
		<a href="index.html"> Clients</a> |
		<a href="index.html"> Contact</a> 
	</div><!-- End subLinks-->
	
	<div class="copyright">
		powered by <a href="http://www.oswd.org">OSWD</a>   |
		<a href="http://validator.w3.org/check/referer"> Valid XHTML</a> |
		<a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a> 
	</div>
	<!-- End copyright-->
	
</div> <!-- End subContainer-->
	
</body>

</html>
