{% extends vobject.entry.base_template %}
{% load i18n %}
{% load markup %}

{% block mainContent %}
  <h1 class="title">{{vobject.metatags.default.title}}</h1>
  <p class="objectDescription">{{vobject.metatags.default.description}}</p>
  {% if vobject.content %}
    {{vobject.content|safe}}
  {% else %}
    <dl class="pageIndex">
      {% for s in vobject.rentry.subentries %}
        {% ifequal s.object_class "PageEntry" %}
          <dt><a href="{{s.spath}}">{{ s.vobject.metatags.default.title }}</a></dt>
          <dd>{{ s.vobject.metatags.default.description }}</dd>
        {% endifequal %}
      {% endfor %}
    </dl>
  {% endif %}
{% endblock %}
